aws-requests-auth==0.4.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
defusedxml==0.5.0
Django==2.0.5
django-braces==1.13.0
django-oauth-toolkit==1.1.2
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.8.2
elasticsearch==6.2.0
elasticsearch-dsl==6.1.0
Flask==1.0.2
hvac==0.5.0
idna==2.6
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
oauthlib==2.0.7
psycopg2==2.7.4
psycopg2-binary==2.7.4
PyJWT==1.6.4
python-dateutil==2.7.3
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-oauthlib==1.0.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.22
uWSGI==2.0.17
Werkzeug==0.14.1
