export AIRFLOW__CORE__FERNET_KEY=not_set
export OUTPUT_DIR=/tmp/
export S3_BUCKET=not_set
export THINGIVERSE_TOKEN=not_set
export FLICKR_API_KEY=not_set
export AWS_ACCESS_KEY=not_set
export AWS_SECRET_KEY=not_set

# The below variables are only needed for running tests. Do not uncomment on
# production environment
# export AIRFLOW_HOME=$(cd $(dirname $0) && pwd)