# Change OUTPUT_DIR as appropriate for production
OUTPUT_DIR=/tmp/

THINGIVERSE_TOKEN=not_set
FLICKR_API_KEY=not_set
WM_SCRIPT_CONTACT=cc.catalog@creativecommons.org

S3_BUCKET=not_set
AWS_ACCESS_KEY=not_set
AWS_SECRET_KEY=not_set

# Change the following line in prod to use the appropriate DB
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False

# Uncomment the following line and set a Fernet key in prod using the output of
# python -c "import base64, os; print(base64.urlsafe_b64encode(os.urandom(32)).decode())"
# AIRFLOW__CORE__FERNET_KEY=

# Change the following line in prod to use the appropriate DB
AIRFLOW_CONN_POSTGRES_OPENLEDGER_UPSTREAM=postgres://deploy:deploy@postgres:5432/openledger
AIRFLOW_CONN_POSTGRES_OPENLEDGER_TESTING=postgres://deploy:deploy@postgres:5432/openledger

OPENLEDGER_CONN_ID=postgres_openledger_upstream
TEST_CONN_ID=postgres_openledger_testing