# https://help.github.com/en/articles/about-code-owners
* @creativecommons/data @creativecommons/ct-cc-catalog-core-committers @creativecommons/ct-cc-catalog-collaborators
* @creativecommons/ct-cc-catalog-maintainers
