# https://help.github.com/en/articles/about-code-owners
* @creativecommons/backend @creativecommons/ct-cc-catalog-api-collaborators @creativecommons/ct-cc-catalog-api-core-committers
* @creativecommons/ct-cc-catalog-api-maintainers
