# Nuxt
.nuxt

# Storybook
.nuxt-storybook
storybook-static

# Playwright creates these two folders
test-results
test/Default

# Coverage
test/unit/coverage/

# Generated translation files
*.pot

# Downloaded translation files
src/locales/openverse.zip
src/locales/*.json
src/locales/scripts/valid-locales.json
src/locales/scripts/untranslated-locales.json
src/locales/scripts/invalid-locales.json
src/locales/scripts/wp-locales.json

# Workspace mock-files
/.npmrc
/.pnpmfile.cjs
/pnpm-lock.yaml

# To prevent accidentally adding a hardcoded robots.txt, see
# /src/server-middleware/robots.js for the robots.txt file.
src/static/robots.txt
