dist/
# eslint by default ignores hidden folders so we need to "un-ignore" it
# https://github.com/eslint/eslint/issues/8429#issuecomment-292789858
!.storybook
nuxt-template-overrides/
test/tapes
coverage/
node_modules
.nuxt
.nuxt-storybook
!.github
!.husky
storybook-static
.idea
