coverage

frontend/test/unit/test-utils/render-suspended.ts

frontend/test/tapes
frontend/nuxt-template-overrides
frontend/storybook-static
# ESLint ignores hidden by default, so this must be explicity un-ignored
!frontend/.storybook

!.pnpmfile.cjs

frontend/src/locales/*.json

# Packages generate a `dist` output when built that should be linted
**/*/dist
