.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
/test/e2e/screenshots
/test/e2e/videos
/test/selenium-webdriver/geckodriver.log
/test/selenium-webdriver/screenshots/*
selenium-debug.log
.pnpm-debug.log
.env
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
vercel.json
.eslintcache
.nuxt
.nuxt-storybook
storybook-static
.vercel
.zshrc
.tcv-export

# pre-commit executable
pre-commit.pyz

# Playwright creates these two folders
test-results
test/Default

# Ignore local certificates
*.pem

# Ignore generated translation files
*.pot

# Ignore downloaded translation files
/src/locales/openverse.zip
/src/locales/*.json
/src/locales/scripts/valid-locales.json
/src/locales/scripts/untranslated-locales.json
/src/locales/scripts/wp-locales.json
