# macOS
._*
.DS_Store

# Editor/IDE configs
.idea/
.vscode/
.swp

# Environment
.env

# Python environments
env/
venv/
pip-log.txt

# Python
__pycache__/
*.py[cod]
.python-version

# Node.js dependencies
node_modules/
npm-debug.log*
.pnpm-debug.log

# Nuxt
.nuxt

# Local certificates
*.pem
*.crt
*.key

# pre-commit
pre-commit.pyz

# ESLint
.eslintcache

# Vercel
vercel.json
.vercel

# Grafana
grafana.db

# Ingestion server
# TODO: This shouldn't be in root
ingestion_server.log
