{% set eslint_files = '\\.(js|ts|vue)$' %}
{% set eslint_exclude = '^nuxt-template-overrides/.*$' %}

{% extends '.pre-commit-config.yaml.jinja' %}

{% block note %}
{{ super() }}
# - https://github.com/WordPress/openverse/blob/main/.pre-commit-config.frontend.yaml.jinja
{%- endblock %}

{#=======================================
Repo blocks must be indented by 2 spaces.
=======================================#}

{% block repos_top %}
  - repo: local # More local hooks are defined at the bottom.
    hooks:
      - id: i18n
        name: i18n
        # Check if the i18n files have been downloaded by checking if the Arabic translation exists
        # Download the i18n files if they do not exist
        entry: bash -c 'if [ ! -f "$(dirname "$dir")"/src/locales/ar.json ]; then pnpm i18n; fi'
        language: system
        pass_filenames: false
{# This comment adds a blank line. #}
{% endblock %}

{% block repos_bottom %}
{# This comment adds a blank line. #}
  - repo: local # More local hooks are defined at the top.
    hooks:
      - id: types
        name: types
        entry: bash -c 'pnpm types'
        language: system
        pass_filenames: false

      - id: test:unit
        name: test:unit
        entry: bash -c 'pnpm test:unit'
        language: system
        pass_filenames: false
        stages:
          - push
{% endblock %}

{#=========================================
Dependencies must be indented by 10 spaces.
=========================================#}

{% block eslint_dependencies %}
{{ super() }}
          - '@babel/eslint-parser@7.17.0'
          - '@intlify/eslint-plugin-vue-i18n@1.4.0'
          - '@nuxtjs/eslint-module@3.1.0'
          - '@typescript-eslint/eslint-plugin@5.23.0'
          - '@typescript-eslint/parser@5.23.0'
          - eslint-import-resolver-custom-alias@1.3.0
          - eslint-plugin-eslint-comments@3.2.0
          - eslint-plugin-import@2.26.0
          - eslint-plugin-prettier@4.0.0
          - eslint-plugin-tsdoc@0.2.16
          - eslint-plugin-unicorn@42.0.0
          - eslint-plugin-vue@9.4.0
          - eslint-plugin-vuejs-accessibility@1.1.1
{%- endblock %}

{% block prettier_dependencies %}
{{ super() }}
          - prettier-plugin-tailwindcss@0.1.12
          - typescript@4.6.2
{%- endblock %}
