{% block note %}
# This file is being synced from WordPress/openverse. Any changes made to it
# here will be overwritten. Please make any necessary edits to the source file:
# https://github.com/WordPress/openverse/blob/main/.pre-commit-config.yaml.jinja
{% endblock %}

exclude: Pipfile\.lock|migrations|\.idea|node_modules|archive

repos:
  {% block repos_top %}
  {% endblock %}
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-executables-have-shebangs
      - id: check-json
        exclude: tsconfig.json # contains comments
      - id: check-case-conflict
      - id: check-toml
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: test/tapes/.+\.json5
      - id: check-symlinks
      - id: mixed-line-ending
      - id: fix-encoding-pragma
        args:
          - --remove
      {% if contains_python_code | default(true) %}
      - id: check-docstring-first
      - id: requirements-txt-fixer
      {% endif %}

  {% if contains_python_code | default(true) %}
  # Use the `.isort.cfg` file to configure additional project-specific requirements.
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
      - id: isort
        files: \.py$
        exclude: ^build/.*$|^.tox/.*$|^venv/.*$
        args:
          - --lines-after-imports=2
          - --multi-line=3
          - --trailing-comma
          - --force-grid-wrap=0
          - --use-parentheses
          - --ensure-newline-before-comments
          - --line-length=88

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2
    hooks:
      - id: pyupgrade
        args:
          - --py310-plus

  # Use the `.flake8` file to configure additional project-specific requirements.
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8

  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - --safe

  {% endif %}
  {% if contains_js_code | default(true) %}
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.15.0
    hooks:
      - id: eslint
        files: {{ eslint_files | default('^js/.*$') }}
        {% if eslint_exclude %}
        exclude: {{ eslint_exclude }} # ESLint raises warnings for ignored files.
        {% endif %}
        'types': [file] # ESLint only accepts [javascript] by default.
        args:
          - --ignore-path=.gitignore
          - --ignore-path=.eslintignore
          - --max-warnings=0
        additional_dependencies:
          {% block eslint_dependencies %}
          - eslint@8.15.0
          - eslint-config-prettier@8.5.0
          {% endblock %}

  {% endif %}
  # Use the `.prettierignore` and `.prettier.config.js` files to configure project-specific requirements.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: \.md$ # TODO: https://github.com/WordPress/openverse/issues/333
        additional_dependencies:
          {% block prettier_dependencies %}
          - prettier@2.6.0
          {% endblock %}

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.8.0
    hooks:
      - id: shellcheck
  {% block repos_bottom %}
  {% endblock %}
