.github/**/*.md
frontend/test/unit/coverage
frontend/test/tapes
frontend/.nuxt
frontend/.nuxt-storybook
frontend/storybook-static
frontend/nuxt-template-overrides
frontend/.remake/component-unit-test/remake-fileName.spec.js
dist
pnpm-lock.yaml
