{% block note %}
// This file is being synced from WordPress/openverse. Any changes made to it
// here will be overwritten. Please make any necessary edits to these files:
// - https://github.com/WordPress/openverse/blob/main/prettier.config.js.jinja
{%- endblock %}

{# This comment adds a blank line. #}
module.exports = {
  trailingComma: "es5",
  tabWidth: 2,
  semi: false,
  singleQuote: false,
  proseWrap: "always",
  overrides: [
    {
      files: "*.yml",
      options: {
        proseWrap: "preserve",
      },
    },
  ],
  {% block additional_config %}
  {% endblock %}
}
