certifi==2018.4.16
chardet==3.0.4
Django==2.0.5
django-oauth-toolkit==1.1.2
djangorestframework==3.8.2
django-rest-framework-social-oauth2
idna==2.6
oauthlib==2.0.7
pytz==2018.4
requests==2.18.4
urllib3==1.22
psycopg2-binary
hvac==0.5.0
uwsgi==2.0.17
