# For local dev tooling only, this is separate from requirements_dev.txt because these
# libraries are not needed within the built docker container in any environment.
black==22.10.0
flake8==5.0.4
isort==5.10.1
pre-commit==2.20.0
