body * {
  /* Accent color tints checkbox, radio, range and progress. */
  accent-color: theme("borderColor.focus");
}

:focus-visible {
  outline-color: theme("borderColor.focus");
}

::selection {
  /* Using white text because selection background is dark. */
  @apply bg-fill-primary text-over-dark;
}

::-webkit-calendar-picker-indicator,
::-webkit-clear-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::marker {
  /* List markers can be tinted as text. */
  @apply text-link;
}
