:root {
  /* Accent color tints checkbox, radio, range and progress. */
  accent-color: theme("colors.pink-8");
}

:focus-visible {
  outline-color: theme("colors.pink-8");
}

::selection {
  /* Using white text because selection background is dark. */
  @apply bg-gray-12 text-white;
}

::-webkit-calendar-picker-indicator,
::-webkit-clear-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::marker {
  /* List markers can be tinted as text. */
  @apply text-pink-8;
}
