:root {
  /* Accent color tints checkbox, radio, range and progress. */
  accent-color: theme("colors.pink");
}

:focus-visible {
  outline-color: theme("colors.pink");
}

::selection {
  /* Using white text because selection background is dark. */
  @apply bg-pink text-white;
}

::-webkit-calendar-picker-indicator,
::-webkit-clear-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::marker {
  /* List markers can be tinted as text. */
  @apply text-pink;
}
