PYTHONUNBUFFERED="0"

#AWS_REGION="us-east-1"

#ENVIRONMENT="local"

#AWS_REGION=""
#AWS_ACCESS_KEY_ID=""
#AWS_SECRET_ACCESS_KEY=""

#ELASTICSEARCH_SCHEME="http://"
#ELASTICSEARCH_URL="es"
#ELASTICSEARCH_PORT="9200"

#DATABASE_HOST="db"
#DATABASE_PORT="5432"
#DATABASE_USER="deploy"
#DATABASE_PASSWORD="deploy"
#DATABASE_NAME="openledger"

#UPSTREAM_DB_HOST="upstream_db"
#UPSTREAM_DB_PORT="5432"
#UPSTREAM_DB_USER="deploy"
#UPSTREAM_DB_PASSWORD="deploy"
#UPSTREAM_DB_NAME="openledger"

#DB_BUFFER_SIZE="100000"
