# PYTHON=3.10

# Note: Unpinned packages have their versions determined by the Airflow constraints file

apache-airflow[amazon,postgres,http,elasticsearch]==2.7.3
lxml
psycopg2-binary
requests-file==1.5.1
requests-oauthlib
retry==0.9.2
tldextract==5.0.1
