# PYTHON=3.12

# Note: Unpinned packages have their versions determined by the Airflow constraints file

apache-airflow[amazon,postgres,http,elasticsearch]==2.9.0
lxml
psycopg2-binary
requests-file==2.0.*
requests-oauthlib
retry==0.9.2
tldextract==5.1.2
