# For local dev tooling only, this is separate from requirements_dev.txt because these
# libraries are not needed within the built docker container in any environment.

# Note: Unpinned packages have their versions determined by the Airflow constraints file

pre-commit==3.2.2
