// Brand
$color-tomato: rgb(226, 54, 0);
$color-gold: rgb(239, 190, 0);
$color-forest-green: rgb(0, 131, 0);
$color-dark-turquoise: rgb(5, 181, 218);
$color-dark-slate-blue: rgb(60, 92, 153);
$color-brighter-dark-slate-blue: rgb(16, 102, 231); // Also used for interaction
$color-dark-slate-gray: rgb(51, 51, 51);

// Feedback
$color-dark-success: $color-forest-green;
$color-light-success: rgb(224, 242, 191);
$color-dark-warning: rgb(242, 171, 32);
$color-light-warning: rgb(250, 236, 188);
$color-dark-error: rgb(200, 59, 30);
$color-light-error: rgb(255, 201, 201);
$color-dark-info: rgb(25, 80, 184);
$color-light-info: rgb(209, 220, 241);

// Interaction
$color-brighter-tomato: rgb(255, 105, 51);
$color-brighter-gold: rgb(245, 212, 0);
$color-brighter-forest-green: rgb(0, 184, 80);

$primary: $color-tomato;
$info: $color-dark-info;
$success: $color-forest-green;
$warning: $color-gold;
$danger: $color-dark-error;

$color-light-info: rgb(209, 220, 241);
$color-dark-info: rgb(25, 80, 184);

$color-light-success: rgb(224, 242, 191);
$color-dark-success: rgb(0, 131, 0);

$color-light-warning: rgb(250, 236, 188);
$color-dark-warning: rgb(242, 171, 32);

$color-dark-error: rgb(200, 59, 30);
$color-light-error: rgb(255, 201, 201);

$color-light-danger: $color-light-error;
$color-dark-danger: $color-dark-error;

// General colors

$scheme-main: $color-white;
$scheme-invert: $color-black;

$background: $color-white;

$border: $color-lighter-gray;
$border-hover: $color-light-gray;

// Text colors

$text: $color-dark-slate-gray;
$text-light: $color-gray;
$text-strong: $color-dark-slate-gray;

// Code colors

$code: darken($color-tomato, 15%);
$code-background: $background;

$pre: $text;
$pre-background: $background;

// Link colors

$link: $color-tomato;
$link-visited: currentColor;

$link-hover: currentColor;
$link-hover-border: $color-light-gray;

$link-focus: currentColor;
$link-focus-border: $color-dark-slate-blue;

$link-active: currentColor;
$link-active-border: $color-dark-gray;

// Typography

$family-primary: $family-body;
$family-secondary: $family-heading;
$family-code: $family-monospace;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;

// Lists and maps

$colors: (
  'white': (
    $color-white,
    $color-black,
  ),
  'black': (
    $color-black,
    $color-white,
  ),
  'primary': (
    $primary,
  ),
  'link': (
    $link,
  ),
  'info': (
    $info,
    $color-light-info,
    $color-dark-info,
  ),
  'success': (
    $success,
    $color-light-success,
    $color-dark-success,
  ),
  'warning': (
    $warning,
    $color-light-warning,
    $color-dark-warning,
  ),
  'danger': (
    $danger,
    $color-light-danger,
    $color-dark-danger,
  ),
);

$shades: (
  'grey-dark': $color-dark-gray,
  'grey': $color-gray,
  'grey-light': $color-light-gray,
  'grey-lighter': $color-lighter-gray,
);

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7;
