@import './utilities/all';

.photo-detail-page {
  width: 100%;
}

.photo_license {
  text-transform: uppercase;
}

.photo {
  width: 100%;
  background: rgb(245, 245, 245);
}

.icon {
  vertical-align: middle;
}

.photo_image.loading {
  width: 100%;
}

.photo_image-ctr {
  // max-height: 55rem;
  overflow: hidden;
  text-align: center;

  img {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 44rem;
    max-width: 100%;
    object-fit: contain;
  }

  /* Small only */
  @include mobile {
    padding: 30px 15px;
  }
}

.photo_info-ctr {
  /* Small only */
  @include mobile {
    padding: 30px 0;
  }
}

.help-icon {
  height: 24px;
}

.provider-logo {
  height: 64px;
  display: block;
}

.back {
  vertical-align: middle;
}
