.photo-detail-page {
  width: 100%;
}

.photo_license {
  text-transform: uppercase;
  margin-right: 5px;
}

.search-grid {
  margin: 0;
  width: 100%;
}

.photo {
  width: 100%;
  background: #e9ebee;
}

.photo_breadcrumb {
  padding: 0 0 1rem 2rem;
  width: 100%;
  display: block;
  text-align: left;
  font-size: .9em;
}

.photo_image-ctr {
  position: relative;
  padding-top: 15px;
  max-height: 800px;
  overflow: hidden;
  text-align: center;

  img {
    position: relative;
    width: auto;
    height: auto;
    max-height: 750px;
    max-width: 100%;
    margin-bottom: 4rem;
  }

  /* Small only */
  @media screen and (max-width: 39.9375em) {
    padding: 30px 15px;
  }
}

.photo_info-ctr {
  .sidebar_section {
    .sidebar_section-header {
      margin-left: 0px;
    }
  }

  ul {
    margin: 0;
    list-style-type: none;

    li {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  /* Small only */
  @media screen and (max-width: 39.9375em) {
    padding: 30px 0;
  }
}

.photo-attribution {
  margin-top: 1rem;
  font-style: italic;
}

.photo_usage-attribution {
  border-left: 1px solid #e7e8e9;;
  padding-left: 10px;
}

label {
  margin-right: 8px;
}

.help-icon {
  height: 24px;
}

.tab-section {
  border-bottom: 1px solid #616161;
  background: #fefefe;
}

.tabs {
  border-bottom: none;
  border-right: none;
}

.tabs-panel {
  padding: 1rem 0 1rem 0;
}

.tabs-content {
  border: none;
}

.tab-icon {
  height: 16px;
}

.attribution-buttons {
  margin-top: 8px;
}

.button-group {
  margin-bottom: 0.2rem;
}

.more-options {
  box-shadow: -11px -5px 17px -14px rgba(0,0,0,0.31);
  padding: 10px 0 0 10px;
  width: 12.7rem;
  border: 1px solid #ccc;
}

.more-options-button {
  display: block;
}

.copy-description {
  color: #2c3e50;
}

.center {
  width: 50%;
  margin: 0 auto;
}

#attribution-html {
  background-color: #fff;
  cursor: auto;
}

.embed-attribution {
  margin: 1rem 0 1rem;
}

.legal-disclaimer {
  margin: 0px 20px;

  font-size: 0.75rem;
  font-style: italic;
}

.provider-logo {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 64px;
  display: block;
}

.provider-container {
  div {
    display: flex;
    align-items: center;
  }

  span {
    font-weight: 600;
    font-size: 1.1em;
  }

  img {
    height: 32px;
  }
}
