.photo-detail-page {
  width: 100%;
}

.photo_license {
  text-transform: uppercase;
}

.photo {
  width: 100%;
  background: rgb(245, 245, 245);
}

.photo_breadcrumb {
  padding: 0 0 1rem 2rem;
  width: 100%;
  display: block;
  text-align: left;
  font-size: .9em;
}

.photo_image-ctr {
  max-height: 800px;
  overflow: hidden;
  text-align: center;

  img {
    position: relative;
    width: auto;
    height: auto;
    max-height: 750px;
    max-width: 100%;
  }

  /* Small only */
  @media screen and (max-width: 39.9375em) {
    padding: 30px 15px;
  }
}

.photo_info-ctr {

  /* Small only */
  @media screen and (max-width: 39.9375em) {
    padding: 30px 0;
  }
}

label {
  margin-right: 8px;
}

.help-icon {
  height: 24px;
}

.embed-attribution {
  margin: 1rem 0 1rem;
}

.provider-logo {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 64px;
  display: block;
}

