@import 'bulma/sass/utilities/_all.sass';

.photo-detail-page {
  width: 100%;
}

.photo_license {
  text-transform: uppercase;
}

.photo {
  width: 100%;
  background: rgb(245, 245, 245);
}

.icon {
  vertical-align: middle;
}

.photo_image-ctr {
  // max-height: 55rem;
  overflow: hidden;
  text-align: center;

  img {
    position: relative;
    width: auto;
    height: auto;
    max-height: 44rem;
    max-width: 100%;
  }

  /* Small only */
  @include mobile {
    padding: 30px 15px;
  }
}

.photo_info-ctr {
  /* Small only */
  @include mobile {
    padding: 30px 0;
  }
}

.help-icon {
  height: 24px;
}

.provider-logo {
  height: 64px;
  display: block;
}

.back {
  vertical-align: middle;
}

// from http://www.cssarrowplease.com/
.arrow-popup {
  position: absolute;
  background: #ffffff;
  border: 2px solid #d8d8d8;
  z-index: 10;
  width: 22rem;
}

@include desktop {
  .arrow-popup.arrow-popup--anchor-right {
    right: 0;
    top: 100%;
    display: block;
  }
}

.arrow-popup:after,
.arrow-popup:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-popup:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.arrow-popup:before {
  border-color: rgba(120, 120, 120, 0);
  border-bottom-color: #d8d8d8;
  border-width: 13px;
  margin-left: -13px;
}

@include desktop {
  .arrow-popup--anchor-right.arrow-popup:after {
    left: auto;
    right: 10%;
    margin-left: auto;
    margin-right: -10px;
  }
  .arrow-popup--anchor-right.arrow-popup:before {
    left: auto;
    right: 10%;
    margin-left: auto;
    margin-right: -13px;
  }
}
