@import "@creativecommons/vocabulary/scss/color.scss";
.search {
  margin: 0;
}

.search-grid-ctr {
  padding: 0;
  background: #e9ebee;
  min-height: 600px;

  /* 48em = 768px */
  @media (max-width: 48em) {
    width: 100%;
    flex: none;
  }
}

.grid-sidebar {
  padding-top: 0;
  background-color: $color-white;
  width: 21.875rem;

  /* 48em = 768px */
  @media (max-width: 48em) {
    width: 100%;
  }
}
