.search {
  margin: 0;
}

.search-grid-ctr {
  padding: 0;
  background-color: $color-wp-gray-0;
  min-height: 600px;

  @include mobile {
    width: 100%;
    flex: none;
  }
}

.grid-sidebar {
  padding: 0;
  background-color: #fff;
  border-right: 1px solid $color-transition-gray;
  max-width: 100%;
  width: 21.875rem;

  @include touch {
    position: relative;
    width: 0;
    height: 0;
  }
}
