@import '~/styles/utilities/_all.sass';

.search {
  margin: 0;
}

.search-grid-ctr {
  padding: 0;
  background: #f5f5f5;
  min-height: 600px;

  @include mobile {
    width: 100%;
    flex: none;
  }
}

.grid-sidebar {
  padding-top: 0;
  background-color: #fff;
  max-width: 100%;
  width: 21.875rem;

  @include touch {
    position: relative;
    width: 0;
    height: 0;
  }
}
