@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --filter-sidebar-width: 316px;
  }

  html {
    @apply m-0 font-normal leading-loose text-dark-charcoal;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    @apply text-pink hover:underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-snug;
  }
}
/*
Text styles from Figma, @see
https://www.figma.com/file/GIIQ4sDbaToCfFQyKMvzr8/Openverse-Design-Library?node-id=311%3A331
The default line height of 130% is not written here
Heading 1           - 90px - 7xl bold
Heading 2           - 32px - 6xl bold
Heading 3           - 28px - 5xl bold
Heading 4           - 24px - 4xl bold
Heading 5           - 19px - 3xl semibold
Heading 6           - 16px - 2xl semibold
Paragraph Large     - 16px - 2xl regular leading-larger
Paragraph Small     - 14px - base regular leading-large
Body                - 14px - base regular (default leading-normal)
Description Regular - 14px - base
Description Bold    - 14px - base semibold
Label Bold          - 13px - sm semibold
Label Regular       - 13px - sm regular
Caption Regular     - 12px - sr regular
Caption Bold        - 12px - sr semibold
Category            - 12px - sr semibold UPPERCASE
Time                - 11px - xs semibold (default leading-[120%])


*/
@layer utilities {
  .heading-1 {
    @apply text-7xl font-bold;
  }

  .heading-2 {
    @apply text-6xl font-bold;
  }

  .heading-3 {
    @apply text-5xl font-bold;
  }

  .heading-4 {
    @apply text-4xl font-bold;
  }

  .heading-5 {
    @apply text-3xl font-semibold;
  }

  .heading-6 {
    @apply text-2xl font-semibold;
  }

  .paragraph-large {
    @apply text-2xl leading-larger;
  }

  .paragraph-small {
    @apply text-base leading-large;
  }

  .body {
    @apply text-base;
  }

  .description-regular {
    @apply text-base leading-snug;
  }

  .description-bold {
    @apply text-base font-semibold leading-snug;
  }

  .label-bold {
    @apply text-sm font-semibold;
  }

  .label-regular {
    @apply text-sm;
  }

  .caption-regular {
    @apply text-sr;
  }

  .caption-bold {
    @apply text-sr font-semibold;
  }

  .category {
    @apply text-sr uppercase font-semibold;
  }

  .time {
    @apply text-xs font-semibold
  }
}
