/* Variable Fonts */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("~assets/fonts/Inter-Roman.var.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("~assets/fonts/Inter-Italic.var.woff2") format("woff2");
  }
}

/* Static Fonts */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src:
      local("Inter-Regular"),
      local("Inter Regular"),
      url("~assets/fonts/Inter-Regular.woff2") format("woff2"),
      url("~assets/fonts/Inter-Regular.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    src:
      local("Inter-Italic"),
      local("Inter Italic"),
      url("~assets/fonts/Inter-Italic.woff2") format("woff2"),
      url("~assets/fonts/Inter-Italic.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src:
      local("Inter-SemiBold"),
      local("Inter SemiBold"),
      url("~assets/fonts/Inter-SemiBold.woff2") format("woff2"),
      url("~assets/fonts/Inter-SemiBold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    src:
      local("Inter-SemiBoldItalic"),
      local("Inter SemiBoldItalic"),
      url("~assets/fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
      url("~assets/fonts/Inter-SemiBoldItalic.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src:
      local("Inter-Bold"),
      local("Inter Bold"),
      url("~assets/fonts/Inter-Bold.woff2") format("woff2"),
      url("~assets/fonts/Inter-Bold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    src:
      local("Inter-BoldItalic"),
      local("Inter BoldItalic"),
      url("~assets/fonts/Inter-BoldItalic.woff2") format("woff2"),
      url("~assets/fonts/Inter-BoldItalic.woff") format("woff");
  }
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("JetBrainsMono-Regular"),
    local("JetBrains Mono Regular"),
    url("~assets/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("~assets/fonts/JetBrainsMono-Regular.woff") format("woff"),
    url("~assets/fonts/JetBrainsMono-Regular.otf") format("opentype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("JetBrainsMono-Bold"),
    local("JetBrains Mono Bold"),
    url("~assets/fonts/JetBrainsMono-Bold.woff2") format("woff2"),
    url("~assets/fonts/JetBrainsMono-Bold.woff") format("woff"),
    url("~assets/fonts/JetBrainsMono-Bold.otf") format("opentype");
}
