PYTHONUNBUFFERED="0"

#AWS_REGION="us-east-1"

#ENVIRONMENT="local"

#AWS_ACCESS_KEY_ID=""
#AWS_SECRET_ACCESS_KEY=""

#ELASTICSEARCH_URL="es"
#ELASTICSEARCH_PORT="9200"

#DATABASE_HOST="db"
#DATABASE_PORT="5432"
#DATABASE_USER="deploy"
#DATABASE_PASSWORD="deploy"
#DATABASE_NAME="openledger"

#UPSTREAM_DB_HOST="upstream_db"
#UPSTREAM_DB_PORT="5432"
#UPSTREAM_DB_USER="deploy"
#UPSTREAM_DB_PASSWORD="deploy"
#UPSTREAM_DB_NAME="openledger"

RELATIVE_UPSTREAM_DB_HOST="upstream_db"
RELATIVE_UPSTREAM_DB_PORT="5432"

#DB_BUFFER_SIZE="100000"

#SYNCER_POLL_INTERVAL="60"

#COPY_TABLES="image"

#LOCK_PATH="/worker_state/lock"
#SHELF_PATH="/worker_state/db"

#INDEXER_WORKER_HOST="localhost"
#INDEXER_WORKER_LIMIT=""
