[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
remote-pdb = "*"
ipython = "*"
pipdeptree = "*"
pycodestyle = "*"
pytest-order = "*"

[packages]
aws-requests-auth = "*"
bottle = "*"
elasticsearch-dsl = "==7.4.0"
falcon = "*"
gunicorn = "*"
psycopg2 = "*"
PyYAML = "*"
boto3 = "*"
filelock = "*"
pytest = "*"
tldextract = "*"
python-decouple = "*"

[requires]
python_version = "3.10"
