$breadcrumb-item-color: $color-tomato;
$breadcrumb-item-active-color: $color-dark-slate-gray;
$breadcrumb-item-hover-color: $color-tomato;
$breadcrumb-item-padding-horizontal: $space-small;
$breadcrumb-item-separator-color: $color-gray;

@import '~/styles/bulma/components/breadcrumb.sass';

nav.breadcrumb > ul {
  font-size: $font-size-caption;
  font-weight: 600;

  li + li:before {
    font-family: 'Vocabulary Icons';
    content: '\e901';
  }

  li:hover {
    text-underline-position: below;
  }
}
