$input-color: $color-dark-slate-gray;
$input-border-color: $color-light-gray;
$input-icon-color: $color-light-gray;
$input-icon-active-color: $color-gray;
$input-shadow: none;

$input-focus-box-shadow-color: none;
$input-focus-border-color: $color-gray;
$input-hover-border-color: $color-gray;
$input-active-border-color: $color-gray;

$input-disabled-border-color: $color-gray;

// Custom classes not from with bulma
$input-size-small: $size-small;
$input-size-normal: $size-normal;
$input-size-medium: 1.43rem;
$input-size-large: 1.75rem;

@import '~/styles/bulma/form/_all.sass';

// Form control
@mixin form_control {
  font-family: $family-source-sans-pro;
  font-weight: 600;

  line-height: 1.3;

  border-width: 0.125rem;
}

// Input
.input {
  @include form_control;
  box-sizing: border-box;
  height: 2.5em;
  padding-left: $space-small;

  &.is-medium {
    font-size: 1.43rem;
    height: 3.875rem;
    padding-left: $space-normal;
  }

  &.is-large {
    font-size: 1.75rem;
    height: 5.063rem;
    padding-left: $space-big;
  }
}

// Textarea
.textarea {
  @include form_control;
  box-sizing: border-box;
  min-height: 6.875em;
  resize: both;
}

// Select
.select {
  select {
    @include form_control;

    option {
      font-weight: 400;
    }
  }

  &:not(.is-multiple):not(.is-loading)::after {
    background: linear-gradient(45deg, $color-black 50%, transparent 50%);

    border: none;
    border-radius: 0;
  }
}

// Icon support for bulma form controls
.control {
  box-sizing: border-box;
  clear: both;
  font-size: $input-size-normal;
  position: relative;
  text-align: left;

  // Modifiers
  &.has-icons-left,
  &.has-icons-right {
    .icon {
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }

    .icon .icon {
      color: inherit;
      position: unset;
    }

    .input,
    .select {
      &:focus,
      &:hover {
        & ~ .icon {
          color: $input-icon-active-color;
        }
      }

      &:disabled {
        & ~ .icon {
          color: $input-disabled-placeholder-color;
        }
      }

      &.is-small ~ .icon {
        font-size: $input-size-small;
        height: 2.5em;
      }

      &.is-medium ~ .icon {
        font-size: $input-size-medium;
        height: 3.875rem;
      }

      &.is-large ~ .icon {
        font-size: $input-size-large;
        height: 5.063rem;
      }
    }

    .icon {
      color: $input-icon-color;
      pointer-events: none;
      position: absolute;
      top: 0;
      z-index: 4;
    }
  }

  &.has-icons-left {
    .icon.is-left {
      left: 0;
    }
  }

  &.has-icons-right {
    .icon.is-right {
      right: 0;
    }
  }
}
