$pagination-item-font-size: 1.25rem;
$pagination-current-background-color: $color-dark-gray;
$pagination-current-border-color: $color-dark-gray;
$pagination-current-color: $color-white;
$pagination-hover-color: $color-white;
$pagination-hover-border-color: $color-dark-gray;
$pagination-color: $color-dark-gray;
$pagination-border-color: $color-lighter-gray;
$pagination-ellipsis-color: $color-dark-gray;

@import '~/styles/bulma/components/pagination.sass';

.pagination {
  .pagination-list {
    .common {
      font-weight: bold;
      font-family: $family-secondary;
      line-height: 1.875;

      .common-link {
        border-radius: 0;
        text-decoration: none;
      }
    }

    .inactive {
      @extend .common;

      .inactive-link {
        @extend .common-link;

        background-color: $color-lighter-gray;
      }

      :hover {
        background-color: $color-dark-gray;
      }
    }

    .inactive-grey {
      @extend .common;

      .inactive-link {
        @extend .common-link;

        background-color: $color-white;
      }

      :hover {
        background-color: $color-dark-gray;
      }
    }
  }
}
