@import '~/styles/bulma/elements/image';

.image {
  .profile {
    @extend .is-rounded;

    border: solid 0.1875em $color-dark-slate-gray;
    min-width: 60px;

    object-fit: cover;
    height: 100%;
  }
}
