$menu-item-color: $color-tomato;
$menu-item-hover-background-color: none;
$menu-item-active-background-color: none;
$menu-item-active-color: $color-dark-slate-gray;
$menu-list-border-left: none;
$menu-nested-list-margin: 0;
$menu-nested-list-padding-left: 0;
$menu-list-link-padding: 0.5rem 0;

@import '~/styles/bulma/components/menu.sass';

.sidebar-menu {
  @extend .body-normal;
  @extend .padding-top-normal;
  @extend .padding-bottom-big;

  font-weight: bold;
  line-height: 1.5;
  background-color: $color-lighter-gray;

  .menu-list .link {
    text-decoration: none;
    @extend .is-paddingless;
    @extend .padding-top-small;
    @extend .padding-horizontal-big;
  }

  .icon {
    @extend .has-text-grey;
    @extend .padding-right-small;

    font-size: 0.375rem;
  }

  .divider {
    @extend .margin-top-normal;
    @extend .margin-bottom-small;

    border-top: 0.1875rem solid $color-white;
  }
}
