$spacing-values: (
  '0': 0,
  'smaller': $space-smaller,
  'small': $space-small,
  'normal': $space-normal,
  'big': $space-big,
  'bigger': $space-bigger,
  'large': $space-large,
  'larger': $space-larger,
  'xl': $space-xl,
  'xxl': $space-xxl,
);
$spacing-shortcuts: (
  'margin': 'margin-',
  'padding': 'padding-',
);
$spacing-directions: (
  'top': 'top',
  'right': 'right',
  'bottom': 'bottom',
  'left': 'left',
);
$spacing-horizontal: 'horizontal';
$spacing-vertical: 'vertical';
