// Refer to sidebar_menu.scss for the Bulma overrides

@import '~/styles/bulma/components/menu.sass';

.table-of-contents {
  @extend .body-normal;
  @extend .padding-big;
  @extend .margin-top-normal;

  font-weight: bold;
  line-height: 1.5;
  border: 0.125rem solid $color-lighter-gray;
  box-sizing: border-box;
  background-color: $color-white;

  .menu-list .link {
    text-decoration: none;
  }

  .icon {
    @extend .has-text-grey;
    @extend .padding-right-small;

    font-size: 0.375rem;
  }
}
