[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
remote-pdb = "*"
ipython = "*"
pipdeptree = "*"
pycodestyle = "*"

[packages]
psycopg2-binary = "*"
redlock-py = "*"
hvac = "*"
pyjwt = "*"
python3-openid = "*"
wsgi-basic-auth = "*"
grequests = "*"
requests-oauthlib = "*"
aws-requests-auth = "*"
django = "==2.2.13"
pillow = "*"
django-cors-headers = "*"
django-uuslug = "*"
django-cron = "*"
django-sslserver = "*"
django-oauth-toolkit = "==1.1.2"
django-braces = "*"
django-redis = "*"
pytest-django = ">=3.5"
djangorestframework = "*"
drf-yasg = "*"
elasticsearch-dsl = "==7.0.0"
piexif = "*"
python-xmp-toolkit = "*"
deepdiff = "*"
djangorestframework-xml = "*"
gevent = "*"
future = {version = "*",python_version = "<=2.7"}
ipaddress = {version = "*",python_version = "<=2.7"}
