[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
remote-pdb = "*"
ipython = "*"
pipdeptree = "*"
pycodestyle = "*"

[packages]
psycopg2-binary = "*"
redlock-py = "*"
hvac = "*"
PyJWT = "*"
python3-openid = "*"
wsgi-basic-auth = "*"
grequests = "*"
requests-oauthlib = "*"
aws-requests-auth = "*"
Django = "==2.2.16"
Pillow = "*"
django-cors-headers = "*"
django-uuslug = "*"
django-sslserver = "*"
django-oauth-toolkit = "==1.3.3"
django-braces = "*"
django-redis = "*"
pytest-django = ">=3.5"
djangorestframework = "*"
drf-yasg = "*"
elasticsearch-dsl = "==7.2.1"
piexif = "*"
python-xmp-toolkit = "*"
deepdiff = "*"
djangorestframework-xml = "*"
gevent = "*"
django-storages = "*"
boto3 = "*"
future = {version = "*"}
ipaddress = {version = "*"}

[requires]
python_version = "3.9"
