aws-requests-auth==0.4.1
awscli==1.11.13
awsebcli==3.12.4
blessed==1.14.2
boto3==1.7.9
botocore==1.10.9
Brlapi==0.6.5
caffeine==2.8.3
cement==2.8.2
certifi==2018.4.16
chardet==3.0.4
colorama==0.3.7
cookies==2.2.1
cryptography==1.7.1
cssselect==1.0.3
cupshelpers==1.0
defusedxml==0.5.0
Django==2.0.5
django-braces==1.13.0
django-cas-ng==3.5.9
django-debug-toolbar==1.9.1
django-debug-toolbar-request-history==0.0.7
django-filter==1.1.0
django-oauth-toolkit==1.1.2
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.8.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
ecdsa==0.13
elasticsearch==5.5.2
elasticsearch-dsl==5.4.0
Fabric3==1.12.post1
fabtools==0.21.0.dev0
flake8==3.2.1
flickrapi==2.4.0
html5lib==0.9999999
httplib2==0.9.2
hvac==0.5.0
idna==2.6
isodate==0.6.0
Jinja2==2.10
jmespath==0.9.3
keyring==10.1
keyrings.alt==1.3
louis==3.0.0
lxml==4.2.1
Mako==1.0.6
MarkupSafe==1.0
mccabe==0.5.3
mock==2.0.0
newrelic==3.2.0.91
oauthlib==2.0.7
paramiko==1.18.5
pathspec==0.5.5
pbr==4.0.2
Pillow==4.0.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pyasn1==0.1.9
pycodestyle==2.2.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pyflakes==1.3.0
Pygments==2.2.0
pygobject==3.22.0
PyJWT==1.6.4
pyparsing==2.2.0
pysmbc==1.0.15.6
python-akismet==0.4.1
python-apt==1.4.0b3
python-cas==1.2.0
python-dateutil==2.7.2
python-debian==0.1.30
python-debianbts==2.6.1
python-xlib==0.14
python3-openid==3.1.0
pytz==2018.4
pyxdg==0.25
PyYAML==3.12
rdflib==4.2.2
reportbug==7.1.7
requests==2.18.4
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
responses==0.9.0
roman==2.0.0
rsa==3.4.2
s3transfer==0.1.13
SecretStorage==2.3.1
semantic-version==2.5.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
sqlparse==0.2.4
tabulate==0.7.5
termcolor==1.1.0
unattended-upgrades==0.1
urllib3==1.22
uWSGI==2.0.17
virtualenv==15.2.0
wcwidth==0.1.7
WebOb==1.8.2
websocket-client==0.47.0
wordfilter==0.2.6.2
wsgi-basic-auth==1.1.0
