certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
Django==2.0.8
django-braces==1.13.0
django-oauth-toolkit==1.1.2
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.8.2
hvac==0.5.0
idna==2.6
oauthlib==2.0.7
psycopg2-binary==2.7.4
PyJWT==1.6.4
python3-openid==3.1.0
pytz==2018.4
requests==2.20.0
requests-oauthlib==1.0.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.22
WebOb==1.8.2
wsgi-basic-auth==1.1.0
drf-yasg==1.9.1
elasticsearch_dsl==6.2.1
aws-requests-auth==0.4.1
django-cors-headers==2.4.0
django-redis==4.9.0
django-uuslug==1.1.8
django-cron==0.5.1
redlock-py==1.0.8
pytest==3.8.1
