{% extends 'templates/.pre-commit-config.yaml.jinja' %}

{% block note %}
{{ super() }}
# - https://github.com/WordPress/openverse/blob/main/templates/.pre-commit-config.local.yaml.jinja
{%- endblock %}

{% block repos_bottom %}
{# This comment adds a blank line. #}
  - repo: local
    hooks:
      - id: render-precommit
        name: render-precommit
        entry: bash -c 'just render-precommit'
        language: system
        pass_filenames: false

      - id: render-prettier
        name: render-prettier
        entry: bash -c 'just render-prettier'
        language: system
        pass_filenames: false
{% endblock %}
