{% extends 'templates/prettier.config.js.jinja' %}

{% block note %}
{{ super() }}
// - https://github.com/WordPress/openverse/blob/main/templates/prettier.config.local.js.jinja
{%- endblock %}

{% block additional_overrides %}
    {
      files: ["frontend/**/*"],
      options: {
        plugins: [require("prettier-plugin-tailwindcss")],
        tailwindConfig: "frontend/tailwind.config.js",
        vueIndentScriptAndStyle: false,
      },
    },
{% endblock %}
