repos:
-   repo: https://github.com/pycqa/isort
    rev: 5.9.3
    hooks:
    - id: isort
-   repo: https://github.com/ambv/black
    rev: 21.9b0
    hooks:
    - id: black
      language_version: python3.9
      args: [--line-length=79]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      args: [--ignore=E501]
