[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx = "~=7.2"
sphinx-autobuild = "~=2021.3"
sphinx-copybutton = "~=0.5"
sphinx-reredirects = "~=0.1"
sphinx-notfound-page = "~=1.0"
furo = ">=2023.8.19"
myst-parser = {version = "~=2.0", extras = ["linkify"]}
sphinxcontrib-mermaid = "~=0.9"

[requires]
python_version = "3.11"
