[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
furo = "*"
myst-parser = "*"

[requires]
python_version = "3.10"
