DJANGO_SECRET_KEY=example_key
DJANGO_DEBUG_ENABLED=True

ENVIRONMENT=local
# List of comma-separated hosts/domain names, e.g., 127.17.0.1,local.app
ALLOWED_HOSTS=localhost,172.17.0.1,host.docker.internal

IS_PROXIED=False

FILTER_DEAD_LINKS_BY_DEFAULT=False
ENABLE_FILTERED_INDEX_QUERIES=True
