PYTHONUNBUFFERED=0

DJANGO_SETTINGS_MODULE=conf.settings
DJANGO_SECRET_KEY="ny#b__$$f6ry4wy8oxre97&-68u_0lk3gw(z=d40_dxey3zw0v1"
DJANGO_DEBUG_ENABLED=True

BASE_URL=http://localhost:50280/
ENVIRONMENT=development
# List of comma-separated hosts/domain names, e.g., 127.17.0.1,local.app
ALLOWED_HOSTS=localhost,172.17.0.1,host.docker.internal

#LOAD_BALANCER_URL=

#DISABLE_GLOBAL_THROTTLING=True

#REDIS_HOST=cache
#REDIS_PORT=6379
#REDIS_PASSWORD=

#THUMBNAIL_WIDTH_PX=600
#THUMBNAIL_JPG_QUALITY=80
#THUMBNAIL_PNG_COMPRESSION=6

#THUMBNAIL_TIMEOUT_PREFIX=thumbnail_timeout:

#DJANGO_DATABASE_HOST=db
#DJANGO_DATABASE_PORT=5432
#DJANGO_DATABASE_USER=deploy
#DJANGO_DATABASE_PASSWORD=deploy
#DJANGO_DATABASE_NAME=openledger
#DJANGO_DATABASE_APPLICATION_NAME=openverse-api

SEMANTIC_VERSION=1.0.0

#WATERMARK_ENABLED=False

#SETUP_ES=True
#ELASTICSEARCH_URL=es
#ELASTICSEARCH_PORT=9200
#ELASTICSEARCH_AWS_REGION=us-east-1

#IMAGE_INDEX_NAME=image
#AUDIO_INDEX_NAME=audio

#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=

#CONTACT_EMAIL=openverse@wordpress.org

#EMAIL_SENDER=
#EMAIL_HOST=
#EMAIL_PORT=25
#EMAIL_HOST_USER=
#EMAIL_HOST_PASSWORD=

#DEBUG_SCORES=False
#USE_RANK_FEATURES=True

IS_PROXIED=False

#SENTRY_SAMPLE_RATE=1.0
#SENTRY_DSN=

FILTER_DEAD_LINKS_BY_DEFAULT=False
ENABLE_FILTERED_INDEX_QUERIES=True
