[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "~=3.2"
fakeredis = "~=2.9"
ipython = "~=8.12"
openapi-spec-validator = "~=0.5"
pycodestyle = "~=2.10"
pytest = "~=7.2"
pytest-django = "~=4.5"
pytest-raises = "~=0.11"
remote-pdb = "~=2.1"
pook = "~=1.0"
pgcli = "~=3.5"
freezegun = "~=1.2.2"
pytest-sugar = "~=0.9"

[packages]
aws-requests-auth = "~=0.4"
boto3 = "~=1.26"
deepdiff = "~=6.2"
Django = "~=4.1"
django-braces = "~=1.15"
django-cors-headers = "~=3.14"
django-cron = "~=0.6"
django-log-request-id = "~=2.0"
django-oauth-toolkit = "~=2.2"
django-redis = "~=5.2"
django-sslserver = "~=0.22"
django-storages = "~=1.13"
django-tqdm = "~=1.3"
django-uuslug = "~=2.0"
djangorestframework = "~=3.14"
drf-yasg = "~=1.21"
elasticsearch-dsl = "~=7.4"
future = "~=0.18"
gevent = "~=22.10"
gunicorn = "~=20.1"
hvac = "~=1.0"
ipaddress = "~=1.0"
limit = "~=0.2"
orjson = "~=3.8.9"
piexif = "~=1.1"
Pillow = "~=9.5"
psycopg2 = "~=2.9"
PyJWT = "~=2.6"
python-decouple = "~=3.8"
python-xmp-toolkit = "~=2.0"
python3-openid = "~=3.2"
redlock-py = "~=1.0"
requests-oauthlib = "~=1.3"
sentry-sdk = "~=1.19"
wsgi-basic-auth = "~=1.1"
aiohttp = "~=3.8"

[requires]
python_version = "3.10"
